
#tnav{
    background: none;
 }

 .nbtn{
     padding: 0em;
     float: right;
     margin-right: 20px;     
     font-family: 'Love Ya Like A Sister', cursive;
     color: rgb(247, 243, 243);
     }

.btn:hover{
    background-color: rgb(167, 142, 238)

   }

   body {
    display: flex;   
    background-image: url('/img/2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    }

    #ddnav{
        background:none;
    }